.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3px;
    border-radius: 3px;
    background-color: #FFC0CB;
    width: 100%;
}

.card__image {
    width: 100%;
}

.card__image img {
    width: 100%;
}

.card__title {
    text-decoration: none;
    color: black;
}


/*
a:link{
   color:black;
   text-decoration: none;
}

a:visited{
   color:black;
   text-decoration: none;
}

a:hover{
   color:#485b3b;
   text-decoration: underline;
}

a:active{
   color:black;
   text-decoration: none;
}
*/